*{
    box-sizing: border-box;
}
body{
    padding top: 73px;
}
.box{
    height: 376px;
    width: 1249px;
    background-color: #22f4da;
    border: 1PX solid #22f4da;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    margin:auto;
}

